h1 {
  text-align: center;
  padding-bottom: 15px;
}

.high {
  background-color: #d9534f;
}

.medium {
  background-color: #5bc0de;
}

.low {
  background-color: #5cb85c;
}

#bigbutton {
  margin-top: 15px;
}

#buttons {
  width: 100%;
}
