<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VSTDA</title>

  <link rel="stylesheet" href="/app/styles/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>

<body ng-controller="VstdaController as vm">
  <script src="bower_components/angular/angular.js"></script>

  <h1>Very Simple To-Do App</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="input">To Do</label>

            <input type="text" class="form-control" id="todoitem" placeholder="To Do" ng-model="vm.toDoObject.toDoInput">
          </div>

        </form>
        <label for="selectmenu">Set Priority</label>
        <select class="form-control" ng-model="vm.toDoObject.priority">
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>


        </select>
        <button type="button" id="bigbutton" class="btn btn-primary btn-lg" ng-click="vm.postList()">Stuff To Be Done</button>
      </div>
      <div class="col-md-8">
        <div id="buttons" class="btn-group">
          <button type="button" class="btn btn-danger">High Priority</button>
          <button type="button" class="btn btn-info">Medium Priority</button>
          <button type="button" class="btn btn-success">Low Priority</button>


          <ul> To Do:
            <li ng-repeat="data in vm.toDoArray">{{data.toDo}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

  <script src="/app/app.js"></script>
  <script src="/app/vstda.controller.js"></script>
</body>

</html>
